// 版本号
VERSION=0.0.3

// http服务端口
HTTP_PORT=3000

// socket服务端口
SOCKET_PORT=3000

// 是否使用socket服务
SOCKET_ENABLED=true

// token校验环境(true正式环境，false开发环境)
TOKEN_ENABLED=false

// token密钥
TOKEN_SECRET=test

// token过期时间
TOKEN_EXPIRES_IN=72h
